Censo Nacional Agropecuario/Datos/CNA2014_ENCABEZADO_19.csv
ENSIN/Datos/ANTROPOMETRIA.csv
ENSIN/Datos/PTS_2.csv
ENSIN/Datos/R24.csv
Satelital Data/GoogleEarthEngine/Images_landsat/*
Satelital Data/GoogleEarthEngine/Images/*
Satelital Data/GoogleEarthEngine/patches/*
Satelital Data/AmazonModel/AmazonDataset/*
*data-00000-of-00001